@import "../../global.scss";

.intro {
  background-color: #f9f9f9;
  display: flex;
  height: 100vh;
  overflow: hidden;

  @include mobile{
    flex-direction: column;
    align-items: center;
  }

  .left {
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;

    .imgContainer {
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(255, 255, 255, 0.1);
      aspect-ratio: 1/1;
      width: 80%;
      max-width: 700px;
      display: flex;
      background-color: #f5b453;
      border-radius: 50%;
      align-items: flex-end;
      justify-content: center;
      transition: all 0.6s ease;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }

      &:hover {
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.514);
        transform: scale(1.03);
      }

      &:active {
        opacity: 0.85;
      }
    }
  }

  .right {
    flex: 0.5;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 40px;

    .wrapper {
      width: 100%;
      max-width: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 16px;

      h2 {
        font-size: 40px;
        font-weight: 400;
        color: #e09f3e;
        margin: 0;
      }

      h1 {
        font-size: 70px;
        font-weight: 700;
        color: #222;
        margin: 0;
      }

      h3 {
        font-size: 35px;
        font-weight: 300;
        color: #444;

        span {
          font-weight: 500;
          color: #666;
        }
      }

      .ityped-cursor{
        animation: blink 1s infinite;
      }

      @keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
    }

    .scroll {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);

      img {
        width: 28px;
        animation: bounce 2s infinite;
      }
    }
  }

  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(8px);
    }
  }
}

.intro.menu-open {
  .imgContainer {
    background-color: #e4ac58;
    border: none;
    transition: all 0.6s ease;
  }
}
